.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.wrong-value {
    outline: 1px solid red;
}

.hexInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.hexInputContainer input {
    font-size: 24pt;
    font-family: monospace;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: #003144;
    color: white;
}

.slider-div {
    justify-content: space-between;
}

.slider-div input {
    width: 80%;
}